// General Imports
@import './colors.less';
@import './general.less';

// Component Imports
@import './login.less';
@import './invoice.less';

body {
  font-size: 12px;
  background:  linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.9),
  ),
  url('../images/busy.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

main.main-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 100vh;
  gap: 2vh;
  padding: @default-pad;

  .menu {
    padding: @default-pad;
    background-color: #fff;

    .ant-select.ant-select-single.ant-select-show-arrow {
      width: 350px;
      margin-bottom: 20px;
    }

    .redo-icon {
      margin-left: 10px;
      cursor: pointer;
    }
  }
}